<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirector: Mappings</title>
</head>

<body>
    <h1>Mappings</h1>
    <table>
        <tr>
            <th>Alias</th>
            <th>URL</th>
        </tr>
    </table>
    <% for ( var i = 0; i < mappings.length; i += 1 ) { %>
        <tr>
            <td><%= mappings[i].alias %></td>
            <td><%= mappings[i].url %></td>
        </tr>
    <% } %>
</body>
</html>